h1,h2,nav,div,section {
    text-decoration: none;
    text-align: center;
}

a {
    font-size: 23px;
  }  
#p-main {
    color: grey;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}
img {
    border: 5px solid red;
    border-radius:20px;
    display: block;
    margin: auto;
    width: 40%
}

.repo-link{
    color: red;
    text-decoration: underline;            
    cursor: pointer;
    text-align: center;
    font-size: 18px;
             
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
   }
.CV {
    color: blue;
    text-decoration: underline;            
    cursor: pointer;
    font-size: 18px;
   }

   
   